<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>상세보기</h1>
    <table style="text-align: center; width: 100%; border: 1px solid">
      <tr>
        <td>id</td>
        <td>이름</td>
        <td>번호</td>
        <td>메일</td>
      </tr>
      <tr>
        <td><%= saram.id %></td>
        <td><%= saram.name %></td>
        <td><%= saram.phone %></td>
        <td><%= saram.email %></td>
      </tr>
    </table>
  </body>
</html>
