<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>레이아웃 배치를 연습해보자!</title>
    <link rel="stylesheet" href="Layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle&family=Single+Day&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header><h1>레이아웃 구성 연습!</h1></header>

    <section>
      <div>
        <div class="main"><img src="../images/layoutImg/1.jpg" alt="" /></div>
        <div class="sub">
          <div class="sub-up">
            <img src="../images/layoutImg/2.jpg" alt="" />
            <img src="../images/layoutImg/3.jpg" alt="" />
            <img src="../images/layoutImg/4.jpg" alt="" />
            <img src="../images/layoutImg/5.jpg" alt="" />
          </div>
          <div class="sub-down">
            <img src="../images/layoutImg/6.jpg" alt="" />ㅍ
            <img src="../images/layoutImg/7.jpg" alt="" />
            <img src="../images/layoutImg/8.jpg" alt="" />
            <img src="../images/layoutImg/9.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
